@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .nav-link {
    @apply mx-5 mt-4 block cursor-pointer text-base hover:opacity-80 lg:mt-0 lg:inline-block;
  }
  .btn {
    @apply mr-2 inline-flex items-center rounded-lg px-5 py-2.5 text-center text-sm font-medium transition ease-in  focus:outline-none;
  }
  .btn-primary {
    @apply bg-gradient-to-br from-purple-600 to-blue-500 transition ease-out hover:bg-gradient-to-bl focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
  .btn-secondary {
    @apply bg-blue-500 transition ease-in hover:opacity-80 focus:outline-none focus:ring-2 focus:ring-blue-300;
  }
  .label {
    @apply mb-2 block text-xl font-medium;
  }
  .text-input {
    @apply w-full rounded-lg py-2.5 px-4 text-lg text-black;
  }
}
